@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
  --img-small: "img size";
  --img-large: "img size";

  --clr-black: #000;
  --clr-white: #fff;
  --clr-dark: #3d3d5c;
  --clr-medium: #a3a3c2;
  --clr-light: #e6e6fa;
  --clr-accent: burlywood;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", sans-serif;
  font-size: 1.25rem;
}

main {
  width: 70%;
  margin: 0 auto;
}

main p {
  margin:  1rem 0;
  line-height: 1.25;

}

h2 {
  margin: 2rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: deeppink;
}

li {
  list-style: none;
  margin: 1rem 0;

}

img {
  width: 114px;
  height: 228px;
}

table {
  border: 2px solid orange;
}

th {
  padding: 1rem ;
  border: 2px solid deeppink;
}

td {
  padding: 1rem ;
  border: 2px solid slateblue;

}

/* Classes ***************************************** */
.img-lg {
  width: 200px;
  height: 400px;
}

.hero {
  padding: 1.5rem 0;
  margin: 0 auto 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

.spread-9 {
  width: 40%;
  margin: 1rem auto;
  padding: 2rem 0;
  border: 2px solid royalblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.spread-9 img {
  margin: .5rem 0;
  width: 72px;
  height: 144px;
}


.link-container {
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.link {
  border: 2px solid deepskyblue;
  padding: 1rem;
}

.center-txt {
  text-align: center;
  margin: 1rem auto;
}

.tag-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 1rem 2rem;

}

.tag-box a {
  margin: 1rem;
}

/* @media Mobile Settings ************************************* */

@media screen and (max-width: 768px) {
  body {
    background-color: aqua;
  }
  main {
    width: 100%;
    padding: .5rem;
  }
  table {
    width: 100%;
  }
  .hidden {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .spread-9 {
    width: 100%;
  }
  .img-raw {
    width: 100%;
  }
}