@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root {
  --img-small: "img size";
  --img-large: "img size";

  --clr-black: #000;
  --clr-white: #fff;
  --clr-dark: #3d3d5c;
  --clr-medium: #a3a3c2;
  --clr-light: #e6e6fa;
  --clr-accent: #deb887;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

main {
  width: 70%;
  margin: 0 auto;
}

main p {
  margin:  1rem 4rem;
  line-height: 1.5;
  margin-left: 1rem;

  a {
    text-decoration: underline;
    font-family: "Inconsolata", monospace;
    font-weight: 700;
  }

  a:hover {
    color: var(--clr-accent);
  }

}

h2, h3 {
  margin: 2rem 1rem .5rem;
  font-size: 1.0;
}
strong {
  margin-left: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent);
}

li {
  list-style: none;
  margin: 1rem;

}

img {
  width: 114px;
  height: 228px;
  margin: 0 .5rem;
  
}

table {
  border: 2px solid var(--clr-accent);
}

th {
  padding: 1rem ;
  border: 2px solid var(--clr-accent);
  color: var(--clr-accent);
  background-color: var(--clr-dark);
}

td {
  padding: 1rem ;
  border: 2px solid var(--clr-medium);

}

.md-table {
  margin-left: 2rem;
}

/* Classes ***************************************** */
.img-lg {
  width: 200px;
  height: 400px;
}

.hero {
  padding: 1.5rem 0;
  margin: 0 auto 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  
  a {
    color: var(--clr-accent);
  }
  a:hover {
    color: var(--clr-white);
  }
}

.post-head {
  background-color: var(--clr-dark);
  padding: 1rem 1rem 2rem;
  color: var(--clr-light);

}

.post-head a {
  color: var(--clr-accent);
  margin-left: 1rem;
}

.post-head a:hover {
  color: var(--clr-white);
}

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--clr-medium);
}

.spread-9 {
  width: 40%;
  margin: 1rem auto;
  padding: 2rem 0;
  background-color: var(--clr-medium);
  border: 3px solid var(--clr-accent);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.spread-9 img {
  margin: .5rem 0;
  width: 72px;
  height: 144px;
}

.raw-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-container {
  background-color: var(--clr-medium);
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}


.link-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.link {
  padding: 1rem;
  background-color: var(--clr-dark);

  p {
    color: var(--clr-light);
    margin-left: 0;
  }
  a {
    color: var(--clr-accent);
  }
  a:hover {
    color: var(--clr-white);
  }
}

.numerals li {
  list-style:decimal;
  margin-left: 3.5rem;
  
}

.numerals li::marker {
  list-style-position: inside;
  font-weight: bold;
  background-color: #deb887;
}
.center-txt {
  text-align: center;
  margin: 1rem auto;
}

.tags {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  padding: 1rem 0;

  h2 {
    margin: 0 2rem;
  }
}

.tag-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 1rem 2rem;

  a {
    color: var(--clr-accent);
  }
  a:hover {
    color: var(--clr-white);
  }

}

.tag-box a {
  margin: 1rem;
}

.info-card {
  width: 50%;
  display: flex;
}

.card-text {
  margin-left: 1rem;
}

/* @media Mobile Settings ************************************* */

@media screen and (max-width: 768px) {
  body {
    background-color: var(--clr-light);
  }
  main {
    width: 100%;
    padding: 1rem;
    p {
      margin: 1rem 0;
    }
  }
  h2 {
    margin-left: 0;
  }
  strong {
    margin-left: 0;
  }
  table {
    max-width: 100%;
  }
  .md-table {
    margin-left: 0;
    width: 100%;
    padding:0
  }
  .contents {
    padding-left: 1rem;
  }
  .hidden {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr;

    img {
      margin: 0;
    }
  }
  .post-head  a{
    margin-left: 0;
  }
  .spread-9 {
    width: 100%;
  }
  .link-container {
    grid-template-columns: 1fr;
  }
  .tag-box a {
    font-size: 1.5rem;
  }
  .info-card {
    flex-direction: column;
    background-color: var(--clr-medium);
    width: 100%;
    margin: 2rem 0;
    padding: 1rem .5rem;
  }
}