@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
  --img-small: "img size";
  --img-large: "img size";

  --clr-black: #000;
  --clr-white: #fff;
  --clr-dark: #3d3d5c;
  --clr-medium: #a3a3c2;
  --clr-light: #e6e6fa;
  --clr-accent: burlywood;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", sans-serif;
  font-size: 1.25rem;
}

main {
  width: 70%;
  margin: 0 auto;
}

main p {
  margin:  1rem 0;
  line-height: 1.25;

  a {
    text-decoration: underline;
  }

  a:hover {
    color: var(--clr-accent);
  }

}

h2 {
  margin: 2rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent);
}

li {
  list-style: none;
  margin: 1rem 0;

}

img {
  width: 114px;
  height: 228px;
}

table {
  border: 2px solid orange;
}

th {
  padding: 1rem ;
  border: 2px solid var(--clr-dark);
}

td {
  padding: 1rem ;
  border: 2px solid slateblue;

}

/* Classes ***************************************** */
.img-lg {
  width: 200px;
  height: 400px;
}

.hero {
  padding: 1.5rem 0;
  margin: 0 auto 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);

  a {
    color: var(--clr-accent);
  }
  a:hover {
    color: var(--clr-white);
  }
}

.post-head {
  background-color: var(--clr-dark);
  padding: 1rem 1rem 2rem;
  color: var(--clr-light);
}

.post-head a {
  color: var(--clr-accent);
}

.post-head a:hover {
  color: var(--clr-white);
}

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--clr-medium);
}

.spread-9 {
  width: 40%;
  margin: 1rem auto;
  padding: 2rem 0;
  border: 2px solid royalblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.spread-9 img {
  margin: .5rem 0;
  width: 72px;
  height: 144px;
}

.card-container {
  background-color: var(--clr-medium);
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}


.link-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.link {
  /* border: 2px solid deepskyblue; */
  padding: 1rem;
  background-color: var(--clr-dark);

  p {
    color: var(--clr-light);
  }
  a {
    color: var(--clr-accent);
  }
  a:hover {
    color: var(--clr-white);
  }
}

.center-txt {
  text-align: center;
  margin: 1rem auto;
}

.tags {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  padding: 1rem 0;

  h2 {
    margin: 0 2rem;
  }
}

.tag-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 1rem 2rem;

  a {
    color: var(--clr-accent);
  }
  a:hover {
    color: var(--clr-white);
  }

}

.tag-box a {
  margin: 1rem;
}

.info-card {
  width: 50%;
  display: flex;
}

.card-text {
  margin-left: 1rem;
}

/* @media Mobile Settings ************************************* */

@media screen and (max-width: 768px) {
  body {
    background-color: var(--clr-light);
  }
  main {
    width: 100%;
    padding: 1rem;
  }
  table {
    max-width: 100%;
  }
  .contents {
    padding-left: 1rem;
  }
  .hidden {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .spread-9 {
    width: 100%;
  }
  .img-raw {
    width: 100%;
  }
  .link-container {
    grid-template-columns: 1fr;
  }
  .tag-box a {
    font-size: 1.5rem;
  }
  .info-card {
    flex-direction: column;
    background-color: var(--clr-medium);
    width: 100%;
    margin: 2rem 0;
    padding: 1rem .5rem;
  }
}