---
import BaseHTML from "../../layouts/BaseHTML.astro"

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../posts/*.mdx", { eager: true })
  )

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.includes(tag)
    )
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseHTML pageTitle={tag}>
  <h2>Posts tagged with #{tag}</h2>
  <ul class="rt-margin">
    {
      posts.map((post: any) => (
        <li>
          <a href={post.frontmatter.path}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseHTML>

<style>
  h2 {
    color: darkblue;
    margin: 1rem 0;
    background-color: lavenderblush;
    padding: 1rem;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  a {
    margin: 1rem 0.5rem;
  }
</style>
