---
import BaseHTML from "../../layouts/BaseHTML.astro"

import { Image } from "astro:assets"
import theJuggler from "../../images/cbd_tarot/a01.jpg"
const allPosts = Object.values(
  import.meta.glob("../posts/*.mdx", { eager: true })
)
const tags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
]

const sortedTags = tags.sort()
---

<BaseHTML title="Tag Index">
  <section class="hero">
    <div class="tags">
      <h2>Tags</h2>
      <div class="tag-box">
        {
          sortedTags.map((tag) => (
            <p>
              <a href={`/tags/${tag}`}>#{tag}</a>
            </p>
          ))
        }
      </div>
    </div>
    <div class="card-container">
      <img
        src={theJuggler.src}
        alt="The Juggler: 1"
      />
      <h3>The Juggler</h3>
      <p class="bg-color">
        The Juggler brings their skills to the table, these include natural
        gifts and expertise. They know more than you would think and can be very
        cunning. They are always moving forward and don't dwell on the past.
      </p>
    </div>
  </section>
</BaseHTML>

<style>
  section {
    display: flex;
    flex-direction: column;
  }
  .tag-box {
    display: flex;
    flex-wrap: wrap;
  }
  p {
    background-color: none;
    a {
      background-color: lavender;
      color: darkblue;
      margin: 0.5rem 1rem;
    }
    a:hover {
      color: darkmagenta;
    }
  }

  .card-container {
    padding: 1rem 2rem;
    background-color: lavender;
  }

  @media screen and (max-width: 768px) {
    section {
      flex-direction: column;
      align-items: center;
      width: 95%;
    }
    .tags {
      width: 100%;
      margin: 1rem auto;
    }
    a {
      border: none;
      box-shadow: none;
      padding: 0;
      width: 100%;
    }
    .card-container {
      width: 100%;
    }
  }
</style>
