---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
---

<BaseHTML title="About Agnostic Tarot">
  <section class="hero">
    <p>
      Agnostic tarot is for everyone. The tarot welcomes all who are seeking
      answers. There are no barriers to entry.
    </p>
    <p>
      There is no magic required. No gods, no angels, no rituals, no rules. To
      be clear, these things can enhance the experience - but are not required.
    </p>
    <p>
      There is no authority in tarot. There is the wisdom gained by those who
      have gone before, and it holds great value. Yet, learning to read tarot
      takes experience, memorization is only the beginning. As experience is
      gained your knowledge will expand beyond the initial keywords.
    </p>
    <p>
      So in Agnostic Tarot we focus more on the practice of reading, starting
      with basic memorization and simple reading exercises. You handle the cards
      while learning the most basic meanings. You become comfortable using them
      and will begin noticing more details about them. This is when the real fun
      begins, and your understanding grows.
    </p>
    <p>
      I have over 30 years of experience reading tarot. It is an effective tool
      for clearing up confusion and seeing other paths to our goals. The imagery
      and randomness of cartomancy sidestep the anxious mind allowing us to have
      new perspectives.
    </p>
  </section>
</BaseHTML>
