---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
---

<BaseHTML title="About Agnostic Tarot">
  <p>
    Agnostic tarot is for everyone. The tarot welcomes all who are seeking
    answers. There are no barriers to entry.
  </p>
  <p>
    There is no magic required. No gods, no angels, no rituals, no rules. To be
    clear, these things can enhance the experience - but are not required.
  </p>
  <p>
    There is no authority in tarot. There is the wisdom gained by those who have
    gone before, and it holds great value. But as experience is gained, and
    knowledge grows, cards will begin to hold their own nuanced meanings for
    you.
  </p>
  <p>
    I have over 30 years of experience reading tarot. It is an effective tool
    for clearing up confusion and seeing other paths to our goals. The imagery
    and randomness of cartomancy sidestep the anxious mind allowing us to have
    new perspectives.
  </p>
</BaseHTML>
