---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
---

<BaseHTML title="Agnostic Tarot Blog">
  <ul>
    <li><a href="/posts/post-1">The Agnostic Method</a></li>
    <li><a href="/posts/post-2">Learning the Cards</a></li>
    <li><a href="/posts/post-3">Buying a Deck</a></li>
  </ul>
</BaseHTML>
