---
import "../styles/global.css"
import { Image } from "astro:assets"
import BaseHTML from "../layouts/BaseHTML.astro"
import BookReading from "../components/BookReading.astro"

import temperance from "../images/cbd_tarot/a14.jpg"
import threeCoins from "../images/cbd_tarot/d03.jpg"
---

<BaseHTML title="Agnostic Tarot">
  <div class="hero">
    <Image
      src={temperance}
      alt="Temperance XIV by CBD Tarot"
      title="Temperance shows that time heals all wounds."
    />
    <Image
      src={threeCoins}
      alt="Three of Coins by CBD Tarot"
      title="Three of coins signifies work"
      class="hidden"
    />
    <div class="contents">
      <h2>Start Here:</h2>
      <ul>
        <li><a href="/posts/introduction">Introduction</a></li>
        <li><a href="/posts/supplies">Tools of the Trade</a></li>
        <li><a href="/posts/learning-the-cards">Learning the Cards</a></li>
      </ul>
    </div>
  </div>
  <BookReading />
</BaseHTML>

<style></style>
