---
import "../styles/global.css"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
const pageTitle = "Agnostic Tarot"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="https://fav.farm/🔥"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <Footer />
  </body>
</html>
