---
import "../styles/global.css"
import { Image } from "astro:assets"
import BaseHTML from "../layouts/BaseHTML.astro"
import BookReading from "../components/BookReading.astro"

import temperance from "../images/cbd_tarot/a14.jpg"
import threeCoins from "../images/cbd_tarot/d03.jpg"
import papesse from "../images/cbd_tarot/a02.jpg"
---

<BaseHTML title="Agnostic Tarot">
  <div class="hero">
    <div class="card-row">
      <Image
        src={temperance}
        alt="Temperance XIV by CBD Tarot"
        title="Temperance shows that time heals all wounds."
      />
      <Image
        src={papesse}
        alt="Papesse"
        title="Papesse, She is a reader."
      />
      <Image
        src={threeCoins}
        alt="Three of Coins by CBD Tarot"
        title="Three of coins signifies work"
      />
    </div>
    <div class="contents">
      <h2>Start Here:</h2>
      <ul>
        <li><a href="/posts/introduction">Introduction</a></li>
        <li><a href="/posts/supplies">Tools of the Trade</a></li>
        <li><a href="/posts/learning-the-cards">Learning the Cards</a></li>
      </ul>
    </div>
  </div>
  <h2>Welcome to Agnostic Tarot!</h2>
  <p>
    Agnostic tarot is a learning and reading system for beginners that avoids
    all spiritual, psychological and magickal associations. If you are new to
    card reading, or new to reading pip decks, this method is for you. You just
    need a deck, a notebook, and <a href="/syllabus">the syllabus</a>.
  </p>

  <BookReading />
</BaseHTML>
