---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="https://fav.farm/🔥"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Agnostic Tarot</title>
  </head>
  <body>
    <h1>Agnostic Tarot</h1>
  </body>
</html>
