---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
import BookReading from "../components/BookReading.astro"
---

<BaseHTML title="Agnostic Tarot">
  <p>Welcome to Agnostic Tarot!</p>
  <BookReading />
</BaseHTML>
