---
import "../styles/global.css"
import BaseHTML from "../layouts/BaseHTML.astro"
---

<BaseHTML title="Agnostic Tarot Course Syllabus">
  <h2>Syllabus</h2>
  <div class="link-container">
    <div class="link">
      <h3>
        <a href="/posts/introduction">I. Introduction to Agnostic tarot</a>
      </h3>
    </div>
    <div class="link">
      <h3><a href="/posts/supplies">II. Tools of the Trade</a></h3>
    </div>
    <div class="link">
      <h3><a href="/posts/keywords">III. Keyword List</a></h3>
    </div>
    <div class="link">
      <h3><a href="/posts/learning-the-cards">IV. Learning the Cards</a></h3>
    </div>
    <div class="link">
      <h3><a href="/posts/the-agnostic-method">V. The Agnostic Method</a></h3>
    </div>
    <div class="link">
      <h3>
        <a href="/posts/sample-reading"
          >VI. The Agnostic Method: Sample Reading</a
        >
      </h3>
    </div>
  </div>
  <div class="link">
    <h3><a href="/posts/scenery">The Scenery</a></h3>
  </div>
  <div class="link">
    <h3><a href="/posts/suits">Learn the Suits</a></h3>
  </div>
  <div class="link">
    <h3><a href="/posts/make-a-keyword-list">Make a Keyword List</a></h3>
  </div>
  <div class="link">
    <h3><a href="/posts/reorder-deck">Reorder Your Deck</a></h3>
  </div>
</BaseHTML>
