<section>
  <h2>Book a Reading!</h2>
  <p>
    Contact Chris to schedule a custom reading <strong
      ><a href="mailto:cmfredricksen@gmail.com">cmfredricksen@gmail.com</a
      ></strong
    >
    <div>
      <p>
        I started reading cards when I was 12 years old using playing cards and
        my imagination. I got my first tarot deck about 30 years ago and have
        studied and practiced several different methods, styles and systems of
        card reading over the ensuing years. That, along with an in depth
        knowledge of various spiritual practices and traditions have allowed me
        to develop my own way of reading the cards.
      </p>
      <p>
        For each reading I use a combination of oracle cards, tarot cards and
        playing cards, with tarot being the centerpiece of the reading. The
        focus is on the present, informed by the past with an eye to the future.
        I also draw on my knowledge of astrology, folk magick, yoga and more.
      </p>
      <p>
        You can expect to gain insight into the current energies at play in your
        life, validation of your experience, and encouragement moving forward.
        Each reading is an act of empowerment for the client, bringing clarity
        and knowledge you can act on.
      </p>
    </div>
  </p>
</section>

<style>
  section {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 2rem;
    border-top: 2px solid var(--clr-accent);
  }
</style>
