<section>
  <h2>Book A Reading!</h2>
  <p>
    Contact Chris to schedule a custom reading <strong
      ><a href="mailto:cmfredricksen@gmail.com">cmfredricksen@gmail.com</a
      ></strong
    >
  </p>
</section>

<style>
  section {
    background-color: paleturquoise;
    padding: 2rem;
  }
</style>
