<footer>
  <p>
    &copy; {new Date().getFullYear()} Agnostic Tarot &#9884; 100% Human Generated
    Content &#9884;
  </p>
  <a href="https://cbdtarot.com/"
    >card images used with permission: &copy;CBD Tarot</a
  >
</footer>

<style>
  footer {
    padding: 4rem 2rem 1rem;
    background-color: var(--clr-dark);
    font-size: 1.25rem;
    text-align: center;

    a {
      font-size: 1rem;
      color: var(--clr-light);
    }
    p {
      color: var(--clr-light);
    }
  }
</style>
