<footer>
  <p>
    &copy; {new Date().getFullYear()} Agnostic Tarot &#9884; 100% Human Generated
    Content &#9884;
  </p>
  <a href="https://cbdtarot.com/"
    >card images used with permission: &copy;CBD Tarot</a
  >
</footer>

<style>
  footer {
    padding: 2rem 0;
    text-align: center;
  }
</style>
