<footer>
  <p>
    &copy; {new Date().getFullYear()} Agnostic Tarot &middot; 100% Human Generated
    Content <a href="https://cbdtarot.com/"
      >card images used with permission: &copy;CBD Tarot</a
    >
  </p>
</footer>

<style>
  footer {
    padding: 4rem 2rem 1rem;
    border-left: 1px solid paleturquoise;
    border-right: 1px solid paleturquoise;
    background-color: lavenderblush;
  }
</style>
