---
import Nav from "./Nav.astro"
---

<header>
  <h1><a href="/">Agnostic Tarot &#9884;</a></h1>
  <Nav />
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
</style>
