---
import Nav from "./Nav.astro"
---

<header>
  <h1><a href="/">Agnostic Tarot</a></h1>
  <h1><a href="/">&#9884;</a></h1>
  <Nav />
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    color: var(--clr-dark);
  }

  @media screen and (min-width: 768px) {
    header {
      width: 100%;
    }
  }
</style>
