---
import Nav from "./Nav.astro"
---

<header>
  <h1><a href="/">Agnostic Tarot &#9884;</a></h1>
  <Nav />
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border-bottom: 3px solid var(--clr-light);

    a {
      color: var(--clr-light);
    }
    a:hover {
      color: var(--clr-accent);
    }
  }
</style>
