---
import Nav from "./Nav.astro"
---

<header>
  <h1>Agnostic Tarot</h1>
  <h1>&#9884;</h1>
  <Nav />
</header>

<style>
  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  h1 {
    color: darkblue;
  }
</style>
