---
const links = [
  {
    title: "home",
    path: "/",
  },
  {
    title: "about",
    path: "/about",
  },
  {
    title: "blog",
    path: "/blog",
  },
  {
    title: "tags",
    path: "/tags",
  },
]
---

<nav>
  {links.map((link) => <a href={link.path}>{link.title}</a>)}
</nav>

<style>
  nav {
    padding: 2rem 1rem 0;
    /* border-bottom: 2px solid var(--clr-accent); */
    background-color: var(--clr-medium);
    /* border: 2px solid var(--clr-dark); */
  }
  nav a {
    color: var(--clr-light);
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    background-color: var(--clr-dark);
    border: 2px solid var(--clr-accent);
  }
  nav a:hover {
    color: var(--clr-accent);
  }
  @media screen and (max-width: 768px) {
    nav a {
      margin: 0;
      padding: 1rem 1rem;
    }
  }
</style>
