---
const links = [
  {
    title: "home",
    path: "/",
  },
  {
    title: "about",
    path: "/about",
  },
  {
    title: "syllabus",
    path: "/syllabus",
  },
]
---

<nav>
  {links.map((link) => <a href={link.path}>{link.title}</a>)}
</nav>

<style>
  nav {
    padding: 1rem 0;
    margin: 2rem 0 1rem;
  }

  nav a {
    margin: 0 1rem;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    nav a {
      font-size: 2rem;
    }
  }
</style>
