---
const links = [
  {
    title: "home",
    path: "/",
  },
  {
    title: "about",
    path: "/about",
  },
  {
    title: "blog",
    path: "/blog",
  },
  {
    title: "tags",
    path: "/tags",
  },
]
---

<nav>
  {links.map((link) => <a href={link.path}>{link.title}</a>)}
</nav>

<style>
  nav {
    padding: 1rem 0;
    margin: 2rem 0 1rem;
  }

  nav a {
    margin: 0 1rem;
  }
</style>
