<div class="info-card">
  <img
    src={fourBatons.src}
    alt="Four of Batons"
    title="Four of Baton"
  />
  <div class="info-text">
    ## Batons I have assigned the suit of batons to the physical body and
    physical energy levels. They can also signify structures or actual batons.
  </div>
</div>

<div class="info-card">
  <img
    src={twoSwords.src}
    alt="Two of Swords"
    title="Two of Swords"
  />
  <div class="info-text">
    ## Swords Swords point to thoughts, the mind, and communication. They can
    also signify actually using a knife, or cutting something.
  </div>
</div>

<div class="info-card">
  <img
    src={sixCups.src}
    alt="Six of Cups"
    title="Six of Cups"
  />
  <div class="info-text">
    ## Cups Cups embody emotions and feelings. They can also refer to food,
    drink and water in general.
  </div>
</div>

<div class="info-card">
  <img
    src={threeCoins.src}
    alt="Three of Coins"
    title="Three of Coins"
  />
  <div class="info-text">
    ## Coins Coins are material resources including money, property, and other
    tangible items. The suit can also refer to work, job, schooling, or career.
  </div>
</div>
