---
import "../styles/global.css"
import BaseHTML from "./BaseHTML.astro"
import type { MarkdownLayoutProps } from "astro"

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string
  author: string
  date: string
  tags: [string]
}>

const { frontmatter } = Astro.props
const tags = frontmatter.tags
---

<BaseHTML title={frontmatter.title}>
  <article>
    <h2>{frontmatter.title}</h2>
    <p>Written by {frontmatter.author}</p>
    <slot />
    {tags.map((tag) => <p>{tag}</p>)}
  </article>
</BaseHTML>

<style>
  article {
    /* width: 66%; */
    margin: 1rem auto;
    /* font-family: "Courier New", Courier, monospace; */
    color: #000;
  }
</style>
